**/.vscode/

**/.DS_Store
*.vsix
.DS_Store

cypress/screenshots/
cypress/videos/
cypress.env.json
test-results/
acceptance/tests-results.xml
adminifi/acceptance/cypress/screenshots

_jest-editor/
.vscode/symbols.json
/coverage/
**/node_modules/
out/
**/.vscode/

**/.DS_Store
*.vsix
.DS_Store
cypress/downloads/
**/cypress/downloads/**.pdf
!results/.gitkeep