name: Parallel API Tests

on:
  push:
    branches:
      - master
jobs:
  acceptance_tests:
    runs-on: ubuntu-latest

    env:
      adminUsername: ${{ secrets.adminUsername }}
      adminPassword: ${{ secrets.adminPassword }}

    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Run Cypress api tests in parallel
        uses: cypress-io/github-action@v6
        with:
          record: true
          parallel: true
          command: npm run api
